<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>danshi0433.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0430.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0431.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0432.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0423.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0420.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0421.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0422.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0403.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0400.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0401.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0402.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0413.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0410.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0411.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0412.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,192}</string>
			<key>textureFileName</key>
			<string>danshi04.png</string>
		</dict>
	</dict>
</plist>
