<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>danshi0133.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0130.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0131.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0132.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0123.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0121.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0122.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>danshi0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,192}</string>
			<key>textureFileName</key>
			<string>danshi01.png</string>
		</dict>
	</dict>
</plist>
