<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>joshi0333.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0330.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0331.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0332.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0323.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0320.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0321.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0322.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,48},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0303.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0300.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0301.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0302.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,96},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0313.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0310.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0311.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>joshi0312.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,144},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,192}</string>
			<key>textureFileName</key>
			<string>joshi03.png</string>
		</dict>
	</dict>
</plist>
